{% set cluster = salt['pillar.get']('ceph:cluster_name') -%}
{% set conf_file = '/etc/ceph/' + cluster + '.conf' -%}
{% set admin_keyring = '/etc/ceph/' + cluster + '.client.admin.keyring' -%}
{% set bootstrap_osd_keyring = '/var/lib/ceph/bootstrap-osd/' + cluster + '.keyring' -%}
{% set host = salt['config.get']('host') -%}
{% set mon_interface = salt['pillar.get']('ceph:mon:interface') -%}
{% set fsid = salt['pillar.get']('ceph:global:fsid') -%}
{% set hosts = [] -%}
{% for mon, grains in salt['mine.get']('roles:ceph-mon','grains.items','grain').items() -%}
{% set data = {} -%}
{% do data.update({'host': grains.host}) -%}
{% do data.update({'ip': grains.ip_interfaces[mon_interface][0]}) -%}
{% do hosts.append(data) -%}
{% endfor -%}
{% set devices = [] -%}
{% for mon, grains in salt['mine.get']('roles:ceph-osd','grains.items','grain').items() -%}
{% set data = {} -%}
{% do data.update({'host': grains.host}) -%}
{% do data.update({'dev': salt['pillar.get']('nodes:' + grains.host + ':devs')}) -%}
{% do devices.append(data) -%}
{% endfor -%}
